<h2>
    data submitted successfully
</h2><br />

<a asp-action="Create" asp-controller="Student">create another record</a>
<br />

<a asp-action="ViewDetails" asp-controller="Student">View all records</a>
<br />